
<h2><%= @restaurant.title %></h2>

<h3>Food Type</h3>
<p><%= @restaurant.food_type %></p>

<h3>Address</h3>
<p><%= @restaurant.address %></p>

<h3>Description</h3>
<p><%= @restaurant.description %></p>

<h3>Reviews</h3>
<table summary="Reviews">
    <tr class="Header">
        <th class="text-center">Title</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Review Text</th>
    </tr>
    <% @restaurant.reviews.each do |review| %>
    <tr class="table" >
    
      <td class="center"><%= review.title %></td>
    
      <td class="text-center"><%= review.rating %></td>
    
      <td class="center"><%= review.content %></td>
      <td class="actions">
        <button type="button" class="btn btn-danger"><%= link_to("Delete", 
        destroy_review_path(review.id), method: :delete, data: { confirm: 'Are you sure?' }) %></button>
        
      </td>
    </tr>
    <% end %>
  </table>
  <h3>Add Reviews</h3>
  
    <%= render "layouts/shared/review_form" %>

<%= link_to "Back ", :action => 'index' %>